// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  position: relative;
  background-color: #708090;
  height: 350px;
  border-bottom: 1px solid #FFF;
  opacity: 0.5;

  h2 {
    position: absolute;
    top: 50%;
    margin: 0 auto;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
}

.hide {
  display: none;
}
