<!DOCTYPE html>
<html>
<head>
  <title>Lstcls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><h1>List-0-Matic</h1></header>

  <%= yield %>
  <footer>
    <p>This is a footer</p>
    <p>It ensures that the articles aren't all the way at the bottom of the screen.</p>
  </footer>

</body>
</html>
